* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
}

#main-container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

body {
  color: #59402D;
  text-align: center;
}

.white-section {
  text-align: center;
  margin: 80px 0;
  width: 100%;
}

.white-section-p {
  font-size: 20px;
  margin: 30px 0;
}

.white-section__img img {
  text-align: center;
  height: 500px;
  margin-top: 30px;
}

.signup-button .signup-button__social {
  border: 2px solid #2F468E;
  border-radius: 6px;
  padding: 7px 10px;
  color: #2F468E;
  background-color: #2F468E;
  color: white;
  padding: 7px 20px;
  margin: 0 15px;
}

.signup-button .signup-button__mail {
  font-size: 14px;
  margin-top: 20px;
}

.signup-button span {
  color: darkgrey;
}

nav {
  max-width: 1400px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid silver;
}

#nav__left {
  margin-left: 15px;
}

#nav__right {
  font-size: 13px;
}

#nav__right li {
  display: inline-block;
  margin: 0 15px;
}

#nav__right #nav__right--signup {
  border: 2px solid #2F468E;
  border-radius: 6px;
  padding: 7px 10px;
  color: #2F468E;
}

#jumbo {
  padding: 0 10%;
}

#jumbo #jumbo__text h1 {
  font-size: 40px;
}

