$nav__right-textsize: 13px;
$nav__right-textblue: #2F468E;


nav {
	max-width: 1400px;
	margin: 0 auto;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid silver;
}

#nav__left {
	margin-left: 15px;
}

#nav__right {
	font-size: $nav__right-textsize;
	
	li {
		display: inline-block;
		margin: 0 15px;
	}

	#nav__right--signup {
		border: 2px solid $nav__right-textblue;
		border-radius: 4px;
		padding: 7px 10px;
		color: $nav__right-textblue;
	}

}