$nav__right-textsize: 13px;


nav {
	max-width: 1400px;
	margin: 0 auto;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid silver;
}

#nav__left {
	margin-left: 15px;
}

#nav__right {
	font-size: $nav__right-textsize;
	
	li {
		display: inline-block;
		margin: 0 15px;
	}

	#nav__right--signup {
		@include social-button;
	}

}